.button-container {
    display: flex;
    justify-content: center;
}
.form {
    background-color: aquamarine;
    padding: 2rem;
}
.input-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}